<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">

	<div id="header_wrap">
	
		<a th:href="@{/}">home</a>
		&nbsp;&nbsp;
		
		<th:block sec:authorize="!hasAnyRole('USER', 'PRE_USER')">
			<a th:href="@{/member/create_account_form}">create account</a>
			&nbsp;&nbsp;
			<a th:href="@{/member/member_login_form}">login</a>
		</th:block>
		
		<th:block sec:authorize="hasAnyRole('USER', 'PRE_USER')">
			<a th:href="@{/member/member_modify_form}">modify</a>
			&nbsp;&nbsp;
			<a th:href="@{/member/member_logout_confirm}">logout</a>
		</th:block>
	</div>
	
</header>

<nav th:fragment="nav">
	<div id="nav_wrap">
		<a th:href="@{/service1}">service1</a>
		&nbsp;&nbsp;
		<a th:href="@{/service2}">service2</a>
	</div>
</nav>

<footer th:fragment="footer">
	<div id="footer_wrap">
		Copyright OFFICE Corp. All Rights Reserved.
	</div>
</footer>

</html>