<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:replace="include/title.html::title"></title>

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/create_account_form.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">

<script th:src="@{/js/member_modify_form.js}"></script>

</head>
<body>

	<header th:replace="include/header_nav_footer.html::header">
	</header>
	
	<nav th:replace="include/header_nav_footer.html::nav">
	</nav>
	
	<section>
		<div id="section_wrap">
			<div class="word">
				MEMBER MODIFY FORM
			</div>
			<div class="create_account_form">
				<form 	th:action="@{/member/member_modify_confirm}" 
						name="member_modify_form" 
						method="post" 
						enctype="multipart/form-data">
						
					<input type="hidden" name="m_no" th:value="${loginedMemberDto.m_no}">
					
					<input type="text" th:value="${loginedMemberDto.m_id}" readonly disabled><br>
					<input type="password" value="******" readonly disabled><br>
					<input type="email" name="m_mail" th:value="${loginedMemberDto.m_mail}" placeholder="INPUT MAIL"><br>
					<input type="text" name="m_phone" th:value="${loginedMemberDto.m_phone}" placeholder="INPUT PHONE"><br>
					<img th:src="@{/profileImg/{id}/{thum}(id=${loginedMemberDto.m_id}, thum=${loginedMemberDto.m_profile_thum})}"><br>
					<input type="file" name="profile_file"><br>
					<input type="button" value="member modify" onclick="memberModifyForm();">
					<input type="reset" value="reset">
				</form>
			</div>
			
			<div class="delete_account">
				<a th:href="@{/member/member_delete_confirm}">delete account</a>
			</div>
			
		</div>
		
	</section>
	
	<footer th:replace="include/header_nav_footer.html::footer">
	</footer>
	
</body>
</html>