section {
	width: 100%;
	padding: 30px 0;
}

section #section_wrap {
	width: 1000px;
	margin: 0 auto;
}

section #section_wrap .word {
	text-align: center;
	font-weight: bolder;
	}

section #section_wrap .intro {
	
}

section #section_wrap .intro img {
	max-width: 1000px;
	}